<div class="cart-page" id="{{ section.id }}">
  <div class="cart-heading p-4">
    <div class="header bg-dark d-flex align-items-center justify-content-center">
      <h3 class="text-white">Your Cart</h3>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
