<div class="product-container">
  <div class="image-plus-info">
    <div class="image-container d-flex md:w-6">
      
    </div>
    <div class="map-plus-other">

    </div>
  </div>
</div>

<script>
  const product = "{{ product.featured_image }}";
  console.log(product);;
</script>